# Classifying Bank Transactions

### Overview:

My objective with this notebook is to demonstrate my solution to the data science challenge given, to input 
bank transactional data and return a data structure summarizing a user's regularly recurring transactions as output.\
\
My solution is a rule based proceedure, it parses information from a bank transaction description to group similarly named transactions together. Before a series of functions which filter out groups unlikely to be recurring. I used a rule based model here because its easily interpretable, explainable and our assumptions known. As well as being fast. However, we shall see that, with the complexity of the problem it makes patching up special cases difficult. As well as not providing more descriptive information which could be useful, that a more complex model could provide. \
\
I provide my first model solution, before reviewing, then making improvements before the final model. I review my final model, before concluding and discussing my next steps - if they were to be taken.

# Table of contents
1. [Loading, Sorting and Previewing](#loading)
2.    [First Model](#firstmodel)
3.    [First Model Review](#firstmodelnreview)
4.    [Final Model](#finalmodel)
5.    [Final Model Review](#finalmodelreview)
6.    [Conclusion & Next Steps](#nextsteps)

## Loading, Sorting and Previewing.<a name="loading"></a>

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import math

In [2]:
path_to_data="example_data.csv"

In [3]:
def preprocessing(path_to_data):
    """Returns sorted transactions, in ascending order by 'made_on' date after loading data."""
    transactions = pd.read_csv(path_to_data, index_col=0)
    transactions['made_on'] = pd.to_datetime(transactions.made_on)
    transactions = transactions.sort_values('made_on')
    return transactions

In [4]:
transactions = preprocessing(path_to_data)

In [5]:
transactions.head()

,user_id,made_on,original_description,amount_cents,income
617,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2018-07-22,HAWKS CLUB ON 20 JUL CLP,3000,False
891,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2018-07-22,SAINSBURYS S/MKTS ON 21 JUL CLP,505,False
940,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2018-07-23,WASABI CAMBRIDGE ON 22 JUL CLP,1710,False
616,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2018-07-23,NYA*Cambridge Vend ON 22 JUL BCC,250,False
941,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2018-07-23,AROMI CAFFE LTD ON 22 JUL CLP,410,False

In [6]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1210 entries, 617 to 1208
Data columns (total 5 columns):
user_id                 1210 non-null object
made_on                 1210 non-null datetime64[ns]
original_description    1210 non-null object
amount_cents            1210 non-null int64
income                  1210 non-null bool
dtypes: bool(1), datetime64[ns](1), int64(1), object(2)
memory usage: 48.4+ KB

No missing values to deal with, thats good!

## First Model.<a name="firstmodek"></a>

Here I lay out my first models functionality to process the data from input to output. I need a way to group transactions into those which are recurring. I can see from viewing the first 5 lines that 'original_description' contains a lot of different infomation. The business entity making the transaction, the date, or the location.

I shall try to group the transactions by the first word of 'original_decription', assuming (potentially naively) that recurring payments have identical first words in 'original_description'. 

I shall discuss potential improvements to this assumption later. We could also parse the date given in 'original_description' which could give us valuable information, such as a more accurate date for when transactions were made, but for now I will ignore this information. We could also parse the second or third word which may hold useful information.

In [7]:
def parse_original_description(transations):
    """Returns transactions after adding new column equal to first word of 'original_description'.
    Splits 'original_description' by " " and "*" characters.
    """
    original_description_split_astrix_space = transactions['original_description'].str.split(" |\*", n=3, expand=True)
    transactions['original_description_first_word'] = original_description_split_astrix_space[0]
    
    return transactions

In [8]:
transactions = parse_original_description(transactions)
transactions.head()

,user_id,made_on,original_description,amount_cents,income,original_description_first_word
617,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2018-07-22,HAWKS CLUB ON 20 JUL CLP,3000,False,HAWKS
891,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2018-07-22,SAINSBURYS S/MKTS ON 21 JUL CLP,505,False,SAINSBURYS
940,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2018-07-23,WASABI CAMBRIDGE ON 22 JUL CLP,1710,False,WASABI
616,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2018-07-23,NYA*Cambridge Vend ON 22 JUL BCC,250,False,NYA
941,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2018-07-23,AROMI CAFFE LTD ON 22 JUL CLP,410,False,AROMI

I shall make the assumption recurring assumptions three or more transactions, only considering groups of transactions with three or more transactions by removing groups which do not satisfy this condition.
The below code deletes groups with a number of transactions below lower_minimum, default value of 3.

In [9]:
def remove_groups_too_small(transactions, info, lower_minimum=3):
    """Returns transactions after removing groups with less than three transactions.
    
    input info: whether or not to display processing information,
    input lower_minimum: lower limit on the size of a group to not be removed, default = 3.
    """
    # save transactions and its respective groups to track changes.
    input_transactions = transactions
    transactions_grouped = transactions.groupby('original_description_first_word')
    input_transactions_grouped = transactions_grouped
    
    # if group has less than the lower_minimum number transactions remove group from transactions dataframe.
    for name, group in transactions_grouped:
        if group['user_id'].count() < lower_minimum:
            transactions = transactions.drop(transactions_grouped.get_group(name).index)

    transactions_grouped = transactions.groupby('original_description_first_word')
    
    # print information
    if info:
        print("Old number of transactions: {} \n\
        Old number of groups: {} \n\
        Remaining number of transactions: {} \n\
        Remaining number of groups: {} \n"\
        .format(input_transactions['user_id'].count(), len(input_transactions_grouped), transactions['user_id'].count(), len(transactions_grouped)))
    
    return transactions

In [10]:
transactions = remove_groups_too_small(transactions, info=True)

Old number of transactions: 1210
        Old number of groups: 291
        Remaining number of transactions: 928
        Remaining number of groups: 61

Now that I've grouped my transactions and removed groups too small, I want see the time differences between transactions in a group. This will give me vital information as to whether they're recurring or not.

I will create a column a new column called "time_diff_forward". It's value for each transaction will be the time in days till the next transaction in its corresponding group.

For the most recent transaction, this entry will be NaN, as there is no more transactions to compare it to. This will allow me to ignore this value when calculating the mean for the time difference forward - on a specific group.

In [11]:
def group_create_time_difference_column(group):
    """Returns a group after adding 'time_difference_forward' which is the time difference in days to 
    next transaction in its group.
    Most recent transaction declared as NaN.
    """
    group = group.reset_index(drop=False)
    group['time_diff_forward'] = np.nan
    
    # loops over transactions in the group, for a transaction calculates time difference (in days) between itself and the next transaction
    for i in group.index:
        t1 = group.loc[i, 'made_on']
        if i+1<len(group.index):
            t2 = group.loc[i+1, 'made_on']
        group['time_diff_forward'].loc[i] = (t2 - t1).days
    
    # sets most recent transaction to NaN
    group.at[group.index[-1], 'time_diff_forward'] = np.nan

    return group

Now I have this column I can calculate:

"entity_name" - as the 'original_description_first_word'

"income" - True if all values in group are True, otherwise False. 
I'm making the assumption that a credit transaction will only ever pay in, otherwise its a debit transaction where it pays out of your account.
This assumption may break where you have recurring payments with a entity who also pays you. For example, you receive monthly dividends as income from a stocks & shares business, but you also pay them an annual fee to hold your capital investments.

"period_days" - the mean value for the 'time_diff_forward' values. The time difference forward between each transaction. Rounded to 1 d.p.

"typical_amount_cents" - the mean value over transaction values for 'amount_cents'. Rounded to one cent.
Since we haven't filtered any of the transactions in a group which could skew our mean, for example, a monthly phone subscription of £30 but with a first time payment of £200. I will consider this later.

In [12]:
def first_model(transactions, info=True, example_name=None):
    """ First model for get_recurring_transactions() function.
    Returns recurring, a list of dictionaries where each dictionary is of form:
    
    {"entity_name": A common description of the regularly occurring transactions,
    "income": A boolean whether the transaction is debit (True) or credit (False),
    "period_days": The expected interval in days between consecutive transactions for that entity, 
    "typical_amount_cents": The typical amount in cents}
    
    input info: whether or not to display processing information,
    input example_name: name of example to make it easy to select a specific group example for analysis later
    """  
    transactions = parse_original_description(transactions)
    
    # Code to make it easy to investigate specific example e.g 'Spotify'
    if example_name is not None:
        transactions = transactions[transactions['original_description_first_word'] == example_name]
                                                                                           
    transactions = remove_groups_too_small(transactions, info)
    
    recurring = []
    
    for name, group in transactions.groupby('original_description_first_word'):
        group = group_create_time_difference_column(group)
        
        if name == example_name:
            print("{} transactions:\n{}".format(example_name, group))
            
        recurring.append({"entity_name": name, "income": group['income'].all() ,\
                          "period_days": round(group['time_diff_forward'].mean(skipna=True)),\
                          "typical_amount_cents": int(round(group['amount_cents'].mean()))})
    return recurring

In [26]:
transactions = preprocessing(path_to_data)
first_model(transactions)

Old number of transactions: 1210
        Old number of groups: 291
        Remaining number of transactions: 928
        Remaining number of groups: 61

[{'entity_name': 'AIRBNB',
  'income': False,
  'period_days': 20.0,
  'typical_amount_cents': 66687},
 {'entity_name': 'AMZN',
  'income': False,
  'period_days': 11.0,
  'typical_amount_cents': 1913},
 {'entity_name': 'AMZNMktplace',
  'income': False,
  'period_days': 24.0,
  'typical_amount_cents': 1361},
 {'entity_name': 'APSON',
  'income': True,
  'period_days': 6.0,
  'typical_amount_cents': 73545},
 {'entity_name': 'AQUARIUM',
  'income': False,
  'period_days': 102.0,
  'typical_amount_cents': 1767},
 {'entity_name': 'AROMI',
  'income': False,
  'period_days': 52.0,
  'typical_amount_cents': 675},
 {'entity_name': 'Amazon',
  'income': False,
  'period_days': 40.0,
  'typical_amount_cents': 1081},
 {'entity_name': 'Amazon.co.uk',
  'income': False,
  'period_days': 46.0,
  'typical_amount_cents': 1497},
 {'entity_name': 'BILL',
  'income': False,
  'period_days': 28.0,
  'typical_amount_cents': 25008},
 {'entity_name': 'BON',
  'income': False,
  'period_days': 4.0,
  'typical_amount_cents': 680},
 {'entity_name': 'BONAPPETIT',
  'income': False,
  'period_days': 12.0,
  'typical_amount_cents': 500},
 {'entity_name': 'BOOTS',
  'income': False,
  'period_days': 16.0,
  'typical_amount_cents': 855},
 {'entity_name': 'BOOTS,CAMBRIDGE',
  'income': False,
  'period_days': 72.0,
  'typical_amount_cents': 294},
 {'entity_name': 'CAMBRIDGE',
  'income': False,
  'period_days': 31.0,
  'typical_amount_cents': 5436},
 {'entity_name': 'DELIVEROO.CO.UK',
  'income': False,
  'period_days': 104.0,
  'typical_amount_cents': 1633},
 {'entity_name': 'DROPBOX',
  'income': False,
  'period_days': 31.0,
  'typical_amount_cents': 919},
 {'entity_name': 'ENGOCHA',
  'income': False,
  'period_days': 32.0,
  'typical_amount_cents': 969},
 {'entity_name': 'FIVE',
  'income': False,
  'period_days': 45.0,
  'typical_amount_cents': 1605},
 {'entity_name': 'FOOTBALL',
  'income': False,
  'period_days': 36.0,
  'typical_amount_cents': 7107},
 {'entity_name': 'GREATER',
  'income': False,
  'period_days': 31.0,
  'typical_amount_cents': 2128},
 {'entity_name': 'GREEN',
  'income': False,
  'period_days': 58.0,
  'typical_amount_cents': 1740},
 {'entity_name': 'Gaucho',
  'income': False,
  'period_days': 10.0,
  'typical_amount_cents': 1374},
 {'entity_name': 'H',
  'income': False,
  'period_days': 76.0,
  'typical_amount_cents': 3466},
 {'entity_name': 'HAWKS',
  'income': False,
  'period_days': 118.0,
  'typical_amount_cents': 3167},
 {'entity_name': 'INVESTMENT',
  'income': False,
  'period_days': 34.0,
  'typical_amount_cents': 28667},
 {'entity_name': 'ITUNES.COM/BILL',
  'income': False,
  'period_days': 44.0,
  'typical_amount_cents': 1555},
 {'entity_name': 'IZ',
  'income': False,
  'period_days': 17.0,
  'typical_amount_cents': 748},
 {'entity_name': 'JOHN',
  'income': False,
  'period_days': 27.0,
  'typical_amount_cents': 57437},
 {'entity_name': 'Kapten',
  'income': False,
  'period_days': 3.0,
  'typical_amount_cents': 1166},
 {'entity_name': 'LOAN',
  'income': False,
  'period_days': 5.0,
  'typical_amount_cents': 786},
 {'entity_name': 'M&S',
  'income': False,
  'period_days': 127.0,
  'typical_amount_cents': 640},
 {'entity_name': 'MAHIKI',
  'income': False,
  'period_days': 0.0,
  'typical_amount_cents': 1246},
 {'entity_name': 'MCDONALDS',
  'income': False,
  'period_days': 46.0,
  'typical_amount_cents': 738},
 {'entity_name': 'MICHAEL',
  'income': True,
  'period_days': 20.0,
  'typical_amount_cents': 6950},
 {'entity_name': 'MM',
  'income': False,
  'period_days': 16.0,
  'typical_amount_cents': 1020},
 {'entity_name': 'Max',
  'income': True,
  'period_days': 64.0,
  'typical_amount_cents': 262194},
 {'entity_name': 'N',
  'income': False,
  'period_days': 15.0,
  'typical_amount_cents': 424},
 {'entity_name': 'NANNA',
  'income': False,
  'period_days': 23.0,
  'typical_amount_cents': 698},
 {'entity_name': 'NORWEGIAN',
  'income': False,
  'period_days': 66.0,
  'typical_amount_cents': 14785},
 {'entity_name': 'NOTEMACHINE',
  'income': False,
  'period_days': 82.0,
  'typical_amount_cents': 1750},
 {'entity_name': 'NYA',
  'income': False,
  'period_days': 70.0,
  'typical_amount_cents': 223},
 {'entity_name': 'PP',
  'income': False,
  'period_days': 5.0,
  'typical_amount_cents': 655},
 {'entity_name': 'PRET',
  'income': False,
  'period_days': 19.0,
  'typical_amount_cents': 625},
 {'entity_name': 'PURE',
  'income': False,
  'period_days': 31.0,
  'typical_amount_cents': 2849},
 {'entity_name': 'REAL',
  'income': False,
  'period_days': 19.0,
  'typical_amount_cents': 363},
 {'entity_name': 'RYANAIR',
  'income': False,
  'period_days': 29.0,
  'typical_amount_cents': 12301},
 {'entity_name': "SAINSBURY'S",
  'income': False,
  'period_days': 32.0,
  'typical_amount_cents': 1920},
 {'entity_name': 'SAINSBURYS',
  'income': False,
  'period_days': 5.0,
  'typical_amount_cents': 681},
 {'entity_name': 'SQ',
  'income': False,
  'period_days': 27.0,
  'typical_amount_cents': 1533},
 {'entity_name': 'SUMUP',
  'income': False,
  'period_days': 8.0,
  'typical_amount_cents': 600},
 {'entity_name': 'Spotify',
  'income': False,
  'period_days': 85.0,
  'typical_amount_cents': 999},
 {'entity_name': 'SumUp',
  'income': False,
  'period_days': 18.0,
  'typical_amount_cents': 739},
 {'entity_name': 'TESCO',
  'income': False,
  'period_days': 2.0,
  'typical_amount_cents': 772},
 {'entity_name': 'TFL',
  'income': False,
  'period_days': 2.0,
  'typical_amount_cents': 538},
 {'entity_name': 'THE',
  'income': False,
  'period_days': 23.0,
  'typical_amount_cents': 1976},
 {'entity_name': 'TSGN',
  'income': False,
  'period_days': 19.0,
  'typical_amount_cents': 2556},
 {'entity_name': 'UBER',
  'income': False,
  'period_days': 10.0,
  'typical_amount_cents': 1185},
 {'entity_name': 'WASABI',
  'income': False,
  'period_days': 136.0,
  'typical_amount_cents': 1140},
 {'entity_name': 'WH',
  'income': False,
  'period_days': 192.0,
  'typical_amount_cents': 349},
 {'entity_name': 'WM',
  'income': False,
  'period_days': 24.0,
  'typical_amount_cents': 1381},
 {'entity_name': 'WORK',
  'income': True,
  'period_days': 44.0,
  'typical_amount_cents': 211195}]

In [14]:
first_model(transactions, info=False)

[{'entity_name': 'AIRBNB',
  'income': False,
  'period_days': 20.0,
  'typical_amount_cents': 66687},
 {'entity_name': 'AMZN',
  'income': False,
  'period_days': 11.0,
  'typical_amount_cents': 1913},
 {'entity_name': 'AMZNMktplace',
  'income': False,
  'period_days': 24.0,
  'typical_amount_cents': 1361},
 {'entity_name': 'APSON',
  'income': True,
  'period_days': 6.0,
  'typical_amount_cents': 73545},
 {'entity_name': 'AQUARIUM',
  'income': False,
  'period_days': 102.0,
  'typical_amount_cents': 1767},
 {'entity_name': 'AROMI',
  'income': False,
  'period_days': 52.0,
  'typical_amount_cents': 675},
 {'entity_name': 'Amazon',
  'income': False,
  'period_days': 40.0,
  'typical_amount_cents': 1081},
 {'entity_name': 'Amazon.co.uk',
  'income': False,
  'period_days': 46.0,
  'typical_amount_cents': 1497},
 {'entity_name': 'BILL',
  'income': False,
  'period_days': 28.0,
  'typical_amount_cents': 25008},
 {'entity_name': 'BON',
  'income': False,
  'period_days': 4.0,
  'typical_amount_cents': 680},
 {'entity_name': 'BONAPPETIT',
  'income': False,
  'period_days': 12.0,
  'typical_amount_cents': 500},
 {'entity_name': 'BOOTS',
  'income': False,
  'period_days': 16.0,
  'typical_amount_cents': 855},
 {'entity_name': 'BOOTS,CAMBRIDGE',
  'income': False,
  'period_days': 72.0,
  'typical_amount_cents': 294},
 {'entity_name': 'CAMBRIDGE',
  'income': False,
  'period_days': 31.0,
  'typical_amount_cents': 5436},
 {'entity_name': 'DELIVEROO.CO.UK',
  'income': False,
  'period_days': 104.0,
  'typical_amount_cents': 1633},
 {'entity_name': 'DROPBOX',
  'income': False,
  'period_days': 31.0,
  'typical_amount_cents': 919},
 {'entity_name': 'ENGOCHA',
  'income': False,
  'period_days': 32.0,
  'typical_amount_cents': 969},
 {'entity_name': 'FIVE',
  'income': False,
  'period_days': 45.0,
  'typical_amount_cents': 1605},
 {'entity_name': 'FOOTBALL',
  'income': False,
  'period_days': 36.0,
  'typical_amount_cents': 7107},
 {'entity_name': 'GREATER',
  'income': False,
  'period_days': 31.0,
  'typical_amount_cents': 2128},
 {'entity_name': 'GREEN',
  'income': False,
  'period_days': 58.0,
  'typical_amount_cents': 1740},
 {'entity_name': 'Gaucho',
  'income': False,
  'period_days': 10.0,
  'typical_amount_cents': 1374},
 {'entity_name': 'H',
  'income': False,
  'period_days': 76.0,
  'typical_amount_cents': 3466},
 {'entity_name': 'HAWKS',
  'income': False,
  'period_days': 118.0,
  'typical_amount_cents': 3167},
 {'entity_name': 'INVESTMENT',
  'income': False,
  'period_days': 34.0,
  'typical_amount_cents': 28667},
 {'entity_name': 'ITUNES.COM/BILL',
  'income': False,
  'period_days': 44.0,
  'typical_amount_cents': 1555},
 {'entity_name': 'IZ',
  'income': False,
  'period_days': 17.0,
  'typical_amount_cents': 748},
 {'entity_name': 'JOHN',
  'income': False,
  'period_days': 27.0,
  'typical_amount_cents': 57437},
 {'entity_name': 'Kapten',
  'income': False,
  'period_days': 3.0,
  'typical_amount_cents': 1166},
 {'entity_name': 'LOAN',
  'income': False,
  'period_days': 5.0,
  'typical_amount_cents': 786},
 {'entity_name': 'M&S',
  'income': False,
  'period_days': 127.0,
  'typical_amount_cents': 640},
 {'entity_name': 'MAHIKI',
  'income': False,
  'period_days': 0.0,
  'typical_amount_cents': 1246},
 {'entity_name': 'MCDONALDS',
  'income': False,
  'period_days': 46.0,
  'typical_amount_cents': 738},
 {'entity_name': 'MICHAEL',
  'income': True,
  'period_days': 20.0,
  'typical_amount_cents': 6950},
 {'entity_name': 'MM',
  'income': False,
  'period_days': 16.0,
  'typical_amount_cents': 1020},
 {'entity_name': 'Max',
  'income': True,
  'period_days': 64.0,
  'typical_amount_cents': 262194},
 {'entity_name': 'N',
  'income': False,
  'period_days': 15.0,
  'typical_amount_cents': 424},
 {'entity_name': 'NANNA',
  'income': False,
  'period_days': 23.0,
  'typical_amount_cents': 698},
 {'entity_name': 'NORWEGIAN',
  'income': False,
  'period_days': 66.0,
  'typical_amount_cents': 14785},
 {'entity_name': 'NOTEMACHINE',
  'income': False,
  'period_days': 82.0,
  'typical_amount_cents': 1750},
 {'entity_name': 'NYA',
  'income': False,
  'period_days': 70.0,
  'typical_amount_cents': 223},
 {'entity_name': 'PP',
  'income': False,
  'period_days': 5.0,
  'typical_amount_cents': 655},
 {'entity_name': 'PRET',
  'income': False,
  'period_days': 19.0,
  'typical_amount_cents': 625},
 {'entity_name': 'PURE',
  'income': False,
  'period_days': 31.0,
  'typical_amount_cents': 2849},
 {'entity_name': 'REAL',
  'income': False,
  'period_days': 19.0,
  'typical_amount_cents': 363},
 {'entity_name': 'RYANAIR',
  'income': False,
  'period_days': 29.0,
  'typical_amount_cents': 12301},
 {'entity_name': "SAINSBURY'S",
  'income': False,
  'period_days': 32.0,
  'typical_amount_cents': 1920},
 {'entity_name': 'SAINSBURYS',
  'income': False,
  'period_days': 5.0,
  'typical_amount_cents': 681},
 {'entity_name': 'SQ',
  'income': False,
  'period_days': 27.0,
  'typical_amount_cents': 1533},
 {'entity_name': 'SUMUP',
  'income': False,
  'period_days': 8.0,
  'typical_amount_cents': 600},
 {'entity_name': 'Spotify',
  'income': False,
  'period_days': 85.0,
  'typical_amount_cents': 999},
 {'entity_name': 'SumUp',
  'income': False,
  'period_days': 18.0,
  'typical_amount_cents': 739},
 {'entity_name': 'TESCO',
  'income': False,
  'period_days': 2.0,
  'typical_amount_cents': 772},
 {'entity_name': 'TFL',
  'income': False,
  'period_days': 2.0,
  'typical_amount_cents': 538},
 {'entity_name': 'THE',
  'income': False,
  'period_days': 23.0,
  'typical_amount_cents': 1976},
 {'entity_name': 'TSGN',
  'income': False,
  'period_days': 19.0,
  'typical_amount_cents': 2556},
 {'entity_name': 'UBER',
  'income': False,
  'period_days': 10.0,
  'typical_amount_cents': 1185},
 {'entity_name': 'WASABI',
  'income': False,
  'period_days': 136.0,
  'typical_amount_cents': 1140},
 {'entity_name': 'WH',
  'income': False,
  'period_days': 192.0,
  'typical_amount_cents': 349},
 {'entity_name': 'WM',
  'income': False,
  'period_days': 24.0,
  'typical_amount_cents': 1381},
 {'entity_name': 'WORK',
  'income': True,
  'period_days': 44.0,
  'typical_amount_cents': 211195}]

## First Model Review<a name="firstmodelreview"></a>

Potential improvements.

Improvement 1. 
As we can see with the 'Spotify' example below, an old transaction on the 2018-08-06 disrupts our calculation for the 'period_days'. This recurring subscription occurs once a month ~ 30 days.

A processing step to remove outlying transactions such as the transaction on the 2018-08-06 could improve our model.

In [15]:
first_model(transactions, example_name = 'Spotify')

Old number of transactions: 6
        Old number of groups: 1
        Remaining number of transactions: 6
        Remaining number of groups: 1

Spotify transactions:
   index                               user_id    made_on  \
0    586  9d556712-ff2e-2f9c-73a9-5hf3cce9e389 2018-08-06
1    889  9d556712-ff2e-2f9c-73a9-5hf3cce9e389 2019-06-05
2    909  9d556712-ff2e-2f9c-73a9-5hf3cce9e389 2019-07-05
3   1016  9d556712-ff2e-2f9c-73a9-5hf3cce9e389 2019-08-04
4   1097  9d556712-ff2e-2f9c-73a9-5hf3cce9e389 2019-09-04
5   1208  9d556712-ff2e-2f9c-73a9-5hf3cce9e389 2019-10-05

               original_description  amount_cents  income  \
0  Spotify P06EAA1A46 ON 05 AUG BCC           999   False
1  Spotify P08VAZ2H51 ON 04 JUN CLP           999   False
2  Spotify P07YAB3H83 ON 04 JUL CLP           999   False
3          Spotify UK ON 03 AUG BCC           999   False
4  Spotify P0D97DK26E ON 03 SEP BCC           999   False
5  Spotify P0D97JL34E ON 04 OCT BCC           999   False

  original_description_first_word  time_diff_forward
0                         Spotify              303.0
1                         Spotify               30.0
2                         Spotify               30.0
3                         Spotify               31.0
4                         Spotify               31.0
5                         Spotify                NaN

[{'entity_name': 'Spotify',
  'income': False,
  'period_days': 85.0,
  'typical_amount_cents': 999}]

Improvement 2.
Since we haven't filtered any of the transactions in a group which could skew our mean for the typical amount in cents, for example, a monthly phone subscription of £30 but with a first time payment of £200. I could remove those far from the mean for 'amount_cents' to exclude these one of payments. Or remove

Improvement 3.
After the improvements in 1 and 2, I could end labelling a group of recurring payments which have less than three occurances in the bank transactions - post removing outliers. I could perform another remove_groups_too_small function or similar to handle this.

Improvement 4. 
The desired output for the "entity_name" could be improved and categorized. For the 'Spotify' example it could provide more information, such that its a monthly occuring transaction, or/and that its a subscription.

Improvement 5.
Many of the outputs for "entity_name" are all capital letters, for example, 'BILL'. This is grammatically i incorrect and we would like our output to be gramatically correct.

## Final Model<a name="finalmodel"></a>

Improvement 1 solution.
To take care of outliers within a group I shall create an upper_lim and lower_lim, if the 'time_diff_forward' is not between these limits remove the entry.

In [16]:
def remove_outliers_time_difference(group, factor, info=True):

    upper_lim = group['time_diff_forward'].mean(skipna=True) + group['time_diff_forward'].std(skipna=True) * factor
    lower_lim = group['time_diff_forward'].mean(skipna=True) - group['time_diff_forward'].std(skipna=True) * factor

    # I don't want to remove the most recent transaction where 'time_diff_forward' = Nan. So I will save it in last_row, and remove it temporarily from dataframe.
    last_row = group.tail(1)
    group.drop(group.tail(1).index,inplace=True)

    # remove outliers.
    new_group = group[(lower_lim < group['time_diff_forward']) & (group['time_diff_forward'] < upper_lim) & (group['time_diff_forward'] != np.nan) ]
    
    if info:
        print("For {} removed {} entries. Now {} entries remaining.".format(group['original_description_first_word'].iloc[0], group['user_id'].count() - new_group['user_id'].count(), new_group['user_id'].count()+1))

    group = new_group

    # Append most recent transcation where 'time_diff_forward' = Nan.
    group = group.append(last_row, ignore_index=True)
    
    return group

Improvement 2 solution.
Remove transactions in a group which are far from the mean of the groups transactions, such as one of payments.

In [17]:
def remove_outliers_amount_cents(group, factor, info=True):

    upper_lim = group['amount_cents'].mean() + group['amount_cents'].std() * factor
    lower_lim = group['amount_cents'].mean() - group['amount_cents'].std() * factor

    # remove outliers.
    new_group = group[(lower_lim < group['amount_cents']) & (group['amount_cents'] < upper_lim)]
    
    if info:
        print("For {} removed {} entries. Now {} entries remaining.".format(group['original_description_first_word'].iloc[0], group['user_id'].count() - new_group['user_id'].count(), new_group['user_id'].count()))

    group = new_group
    
    return group

Improvement 3 solution.
In final_model, I add a condition to only add a group to recurring output list if group size is not less than lower_minimum (default value of 3). As removing outliers may have left groups too small to be classified as recurring.

Improvement 4 solution.
Recurring payments tend to be categorized as annually, monthly, bi-weekly, weekly or daily. So I shall categorize them based on each groups 'time_diff_forward' mean, whether that mean falls within realistic bounds. The boundaries I've used have been down to my discretion on what I think is reasonable. For example, annually is 364 days +- 4 days. This is an assumption which could be improved if I had more time by looking at other data on the distribution of time differences forward with known category targets.

In [18]:
def check_if_recurring_and_label(group):
    if (364 - 4 < group['time_diff_forward'].mean(skipna=True) < 364 + 4):
        label = 'Annually'
        return True, label
    if (364/12 - 3  < group['time_diff_forward'].mean(skipna=True) < 364/12 + 3):
        label = 'Monthly'
        return True, label
    if (14 - 2 < group['time_diff_forward'].mean(skipna=True) < 14 + 2):
        label = 'Bi-weekly'
    if (7 - 1 < group['time_diff_forward'].mean(skipna=True) < 7 + 1):
        label = 'Weekly'
        return True, label
    if (1 + 0.25 < group['time_diff_forward'].mean(skipna=True) < 1 + 0.25):
        label = 'Daily'
        return True, label
    else:
        return False, "Not recurring"

Improvement 5 solution.
I shall call the capitalize() in-built python function on the 'original_description_first_word' before appending the dictionary to the output list.
A potential problem with this approach is names which are genuinely all capital letters such as a subscription to TIDAL music (not present in this dataset but to demonstrate my thinking).

Putting it all together.

In [19]:
def final_model(transactions, info=True, example_name=None, lower_minimum=3):
    """ Second model for get_recurring_transactions() function.
    Returns recurring, a list of dictionaries where each dictionary is of form:
    
    {"entity_name": A common description of the regularly occurring transactions,
    "income": A boolean whether the transaction is debit (True) or credit (False),
    "period_days": The expected interval in days between consecutive transactions for that entity, 
    "typical_amount_cents": The typical amount in cents}
    
    input info: whether or not to display processing information,
    input example_name: name of example to make it easy to select a specific group example for analysis later,
    input lower_minimum: lower limit on the size of a group to not be removed, default = 3.
    """  
    transactions = parse_original_description(transactions)
    
    # Code to make it easy to investigate specific example e.g 'Spotify'
    if example_name is not None:
        transactions = transactions[transactions['original_description_first_word'] == example_name]
                                                                                           
    transactions = remove_groups_too_small(transactions, info)
    
    recurring = []
    
    for name, group in transactions.groupby('original_description_first_word'):
        group = group_create_time_difference_column(group)
        
        if info:
            print("Removing outliers for {}".format(name))
            
        group = remove_outliers_time_difference(group, factor = 1, info=info)
        group = remove_outliers_amount_cents(group, factor = 1, info = info)
        
        if name == example_name:
            print("{} transactions:\n{}".format(example_name, group))
        
        recurring_boolean, label = check_if_recurring_and_label(group)
        
        if recurring_boolean & (group['user_id'].count() >= lower_minimum):
            recurring.append({"entity_name": label+" "+name.capitalize(), "income": group['income'].all() ,\
                          "period_days": round(group['time_diff_forward'].mean(skipna=True)),\
                          "typical_amount_cents": int(round(group['amount_cents'].mean()))})
    return recurring

In [20]:
transactions = preprocessing(path_to_data)
final_model(transactions)

Old number of transactions: 1210
        Old number of groups: 291
        Remaining number of transactions: 928
        Remaining number of groups: 61

Removing outliers for AIRBNB
For AIRBNB removed 0 entries. Now 3 entries remaining.
For AIRBNB removed 1 entries. Now 2 entries remaining.
Removing outliers for AMZN
For AMZN removed 0 entries. Now 3 entries remaining.
For AMZN removed 1 entries. Now 2 entries remaining.
Removing outliers for AMZNMktplace
For AMZNMktplace removed 3 entries. Now 5 entries remaining.
For AMZNMktplace removed 1 entries. Now 4 entries remaining.
Removing outliers for APSON
For APSON removed 0 entries. Now 3 entries remaining.
For APSON removed 1 entries. Now 2 entries remaining.
Removing outliers for AQUARIUM
For AQUARIUM removed 0 entries. Now 3 entries remaining.
For AQUARIUM removed 1 entries. Now 2 entries remaining.
Removing outliers for AROMI
For AROMI removed 1 entries. Now 7 entries remaining.
For AROMI removed 2 entries. Now 5 entries remaining.
Removing outliers for Amazon
For Amazon removed 3 entries. Now 8 entries remaining.
For Amazon removed 1 entries. Now 7 entries remaining.
Removing outliers for Amazon.co.uk
For Amazon.co.uk removed 1 entries. Now 4 entries remaining.
For Amazon.co.uk removed 1 entries. Now 3 entries remaining.
Removing outliers for BILL
For BILL removed 1 entries. Now 3 entries remaining.
For BILL removed 1 entries. Now 2 entries remaining.
Removing outliers for BON
For BON removed 1 entries. Now 4 entries remaining.
For BON removed 0 entries. Now 4 entries remaining.
Removing outliers for BONAPPETIT
For BONAPPETIT removed 1 entries. Now 3 entries remaining.
For BONAPPETIT removed 3 entries. Now 0 entries remaining.
Removing outliers for BOOTS
For BOOTS removed 2 entries. Now 7 entries remaining.
For BOOTS removed 2 entries. Now 5 entries remaining.
Removing outliers for BOOTS,CAMBRIDGE
For BOOTS,CAMBRIDGE removed 1 entries. Now 5 entries remaining.
For BOOTS,CAMBRIDGE removed 1 entries. Now 4 entries remaining.
Removing outliers for CAMBRIDGE
For CAMBRIDGE removed 2 entries. Now 7 entries remaining.
For CAMBRIDGE removed 3 entries. Now 4 entries remaining.
Removing outliers for DELIVEROO.CO.UK
For DELIVEROO.CO.UK removed 1 entries. Now 3 entries remaining.
For DELIVEROO.CO.UK removed 1 entries. Now 2 entries remaining.
Removing outliers for DROPBOX
For DROPBOX removed 1 entries. Now 4 entries remaining.
For DROPBOX removed 0 entries. Now 4 entries remaining.
Removing outliers for ENGOCHA
For ENGOCHA removed 1 entries. Now 7 entries remaining.
For ENGOCHA removed 1 entries. Now 6 entries remaining.
Removing outliers for FIVE
For FIVE removed 1 entries. Now 4 entries remaining.
For FIVE removed 1 entries. Now 3 entries remaining.
Removing outliers for FOOTBALL
For FOOTBALL removed 2 entries. Now 5 entries remaining.
For FOOTBALL removed 1 entries. Now 4 entries remaining.
Removing outliers for GREATER
For GREATER removed 2 entries. Now 12 entries remaining.
For GREATER removed 1 entries. Now 11 entries remaining.
Removing outliers for GREEN
For GREEN removed 0 entries. Now 3 entries remaining.
For GREEN removed 1 entries. Now 2 entries remaining.
Removing outliers for Gaucho
For Gaucho removed 0 entries. Now 3 entries remaining.
For Gaucho removed 1 entries. Now 2 entries remaining.
Removing outliers for H
For H removed 0 entries. Now 3 entries remaining.
For H removed 1 entries. Now 2 entries remaining.
Removing outliers for HAWKS
For HAWKS removed 0 entries. Now 3 entries remaining.
For HAWKS removed 1 entries. Now 2 entries remaining.
Removing outliers for INVESTMENT
For INVESTMENT removed 0 entries. Now 3 entries remaining.
For INVESTMENT removed 1 entries. Now 2 entries remaining.
Removing outliers for ITUNES.COM/BILL
For ITUNES.COM/BILL removed 4 entries. Now 4 entries remaining.
For ITUNES.COM/BILL removed 1 entries. Now 3 entries remaining.
Removing outliers for IZ
For IZ removed 1 entries. Now 25 entries remaining.
For IZ removed 8 entries. Now 17 entries remaining.
Removing outliers for JOHN
For JOHN removed 1 entries. Now 14 entries remaining.
For JOHN removed 3 entries. Now 11 entries remaining.
Removing outliers for Kapten
For Kapten removed 0 entries. Now 3 entries remaining.
For Kapten removed 1 entries. Now 2 entries remaining.
Removing outliers for LOAN
For LOAN removed 3 entries. Now 4 entries remaining.
For LOAN removed 1 entries. Now 3 entries remaining.
Removing outliers for M&S
For M&S removed 1 entries. Now 3 entries remaining.
For M&S removed 1 entries. Now 2 entries remaining.
Removing outliers for MAHIKI
For MAHIKI removed 2 entries. Now 1 entries remaining.
For MAHIKI removed 1 entries. Now 0 entries remaining.
Removing outliers for MCDONALDS
For MCDONALDS removed 1 entries. Now 8 entries remaining.
For MCDONALDS removed 1 entries. Now 7 entries remaining.
Removing outliers for MICHAEL
For MICHAEL removed 0 entries. Now 3 entries remaining.
For MICHAEL removed 1 entries. Now 2 entries remaining.
Removing outliers for MM
For MM removed 1 entries. Now 14 entries remaining.
For MM removed 1 entries. Now 13 entries remaining.
Removing outliers for Max
For Max removed 1 entries. Now 3 entries remaining.
For Max removed 1 entries. Now 2 entries remaining.
Removing outliers for N
For N removed 5 entries. Now 8 entries remaining.
For N removed 2 entries. Now 6 entries remaining.
Removing outliers for NANNA
For NANNA removed 1 entries. Now 5 entries remaining.
For NANNA removed 2 entries. Now 3 entries remaining.
Removing outliers for NORWEGIAN
For NORWEGIAN removed 1 entries. Now 3 entries remaining.
For NORWEGIAN removed 1 entries. Now 2 entries remaining.
Removing outliers for NOTEMACHINE
For NOTEMACHINE removed 1 entries. Now 3 entries remaining.
For NOTEMACHINE removed 3 entries. Now 0 entries remaining.
Removing outliers for NYA
For NYA removed 1 entries. Now 5 entries remaining.
For NYA removed 1 entries. Now 4 entries remaining.
Removing outliers for PP
For PP removed 1 entries. Now 59 entries remaining.
For PP removed 17 entries. Now 42 entries remaining.
Removing outliers for PRET
For PRET removed 3 entries. Now 20 entries remaining.
For PRET removed 6 entries. Now 14 entries remaining.
Removing outliers for PURE
For PURE removed 3 entries. Now 4 entries remaining.
For PURE removed 4 entries. Now 0 entries remaining.
Removing outliers for REAL
For REAL removed 1 entries. Now 5 entries remaining.
For REAL removed 3 entries. Now 2 entries remaining.
Removing outliers for RYANAIR
For RYANAIR removed 2 entries. Now 3 entries remaining.
For RYANAIR removed 1 entries. Now 2 entries remaining.
Removing outliers for SAINSBURY'S
For SAINSBURY'S removed 2 entries. Now 6 entries remaining.
For SAINSBURY'S removed 1 entries. Now 5 entries remaining.
Removing outliers for SAINSBURYS
For SAINSBURYS removed 2 entries. Now 82 entries remaining.
For SAINSBURYS removed 6 entries. Now 76 entries remaining.
Removing outliers for SQ
For SQ removed 0 entries. Now 3 entries remaining.
For SQ removed 1 entries. Now 2 entries remaining.
Removing outliers for SUMUP
For SUMUP removed 1 entries. Now 5 entries remaining.
For SUMUP removed 2 entries. Now 3 entries remaining.
Removing outliers for Spotify
For Spotify removed 1 entries. Now 5 entries remaining.
For Spotify removed 5 entries. Now 0 entries remaining.
Removing outliers for SumUp
For SumUp removed 1 entries. Now 15 entries remaining.
For SumUp removed 4 entries. Now 11 entries remaining.
Removing outliers for TESCO
For TESCO removed 5 entries. Now 135 entries remaining.
For TESCO removed 7 entries. Now 128 entries remaining.
Removing outliers for TFL
For TFL removed 2 entries. Now 208 entries remaining.
For TFL removed 32 entries. Now 176 entries remaining.
Removing outliers for THE
For THE removed 1 entries. Now 18 entries remaining.
For THE removed 7 entries. Now 11 entries remaining.
Removing outliers for TSGN
For TSGN removed 3 entries. Now 6 entries remaining.
For TSGN removed 0 entries. Now 6 entries remaining.
Removing outliers for UBER
For UBER removed 1 entries. Now 39 entries remaining.
For UBER removed 4 entries. Now 35 entries remaining.
Removing outliers for WASABI
For WASABI removed 0 entries. Now 3 entries remaining.
For WASABI removed 1 entries. Now 2 entries remaining.
Removing outliers for WH
For WH removed 0 entries. Now 3 entries remaining.
For WH removed 1 entries. Now 2 entries remaining.
Removing outliers for WM
For WM removed 0 entries. Now 3 entries remaining.
For WM removed 1 entries. Now 2 entries remaining.
Removing outliers for WORK
For WORK removed 1 entries. Now 7 entries remaining.
For WORK removed 2 entries. Now 5 entries remaining.

[{'entity_name': 'Monthly Amznmktplace',
  'income': False,
  'period_days': 30.0,
  'typical_amount_cents': 724},
 {'entity_name': 'Monthly Amazon',
  'income': False,
  'period_days': 30.0,
  'typical_amount_cents': 799},
 {'entity_name': 'Monthly Dropbox',
  'income': False,
  'period_days': 30.0,
  'typical_amount_cents': 899},
 {'entity_name': "Monthly Sainsbury's",
  'income': False,
  'period_days': 31.0,
  'typical_amount_cents': 1251},
 {'entity_name': 'Monthly Work',
  'income': True,
  'period_days': 30.0,
  'typical_amount_cents': 178243}]

In [21]:
final_model(transactions, info=False)

[{'entity_name': 'Monthly Amznmktplace',
  'income': False,
  'period_days': 30.0,
  'typical_amount_cents': 724},
 {'entity_name': 'Monthly Amazon',
  'income': False,
  'period_days': 30.0,
  'typical_amount_cents': 799},
 {'entity_name': 'Monthly Dropbox',
  'income': False,
  'period_days': 30.0,
  'typical_amount_cents': 899},
 {'entity_name': "Monthly Sainsbury's",
  'income': False,
  'period_days': 31.0,
  'typical_amount_cents': 1251},
 {'entity_name': 'Monthly Work',
  'income': True,
  'period_days': 30.0,
  'typical_amount_cents': 178243}]

## Final Model Review<a name="finalmodelreview"></a>

Improvement 1.
Potential problem with assumption that recurring transcations have same first word.
Here 'N' is first word using method, there could be two different entities making diffierent transcations with 'N' as first name. For example, "N Y Stock Exhange" and "N K CONVENIENCE".

In [22]:
transactions = preprocessing(path_to_data)
transactions = parse_original_description(transactions)
transactions[transactions['original_description_first_word'] == 'N'].head()

,user_id,made_on,original_description,amount_cents,income,original_description_first_word
387,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-03-25,N K CONVENIENCE ST ON 23 MAR CLP,338,False,N
368,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-04-01,N K CONVENIENCE ST ON 31 MAR CLP,747,False,N
858,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-05-02,N K CONVENIENCE ST ON 01 MAY CLP,347,False,N
185,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-06-06,N K CONVENIENCE ST ON 05 JUN CLP,249,False,N
123,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-06-24,N K CONVENIENCE ST ON 23 JUN CLP,473,False,N

Potential problem not a problem in this data however could be in unseen data.

Improvement 2.
Another problem with our assumption that recurring transactions have the same first word can be seen below, where two different bills are grouped together, ["BILL KENNEDY SPLITWISE", "BILL A+SESSA M SWEDEN"]. This could be problematic in larger data sets if there was two different recurring payments both with first word "BILL".
A potential solution could begin to include the second and third words in "original_description".

In [23]:
transactions = preprocessing(path_to_data)
transactions = parse_original_description(transactions)

transactions[transactions['original_description_first_word'] == 'BILL']

,user_id,made_on,original_description,amount_cents,income,original_description_first_word
398,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-03-22,BILL KENNEDY SPLITWISE FT,25255,False,BILL
282,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-05-05,BILL KENNEDY SPLITWISE FT,26165,False,BILL
184,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-06-06,BILL KENNEDY SPLITWISE FT,33714,False,BILL
161,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-06-13,BILL A+SESSA M SWEDEN - ALBERT BBP,14900,True,BILL

A more severe problem can be seen below, our model failed to capture monthly rent payments to John Smith.
Grouping "JOHN SMITH" and "JOHN LEWIS" together.

In [24]:
transactions = preprocessing(path_to_data)
transactions = parse_original_description(transactions)

transactions[transactions['original_description_first_word'] == 'JOHN']

,user_id,made_on,original_description,amount_cents,income,original_description_first_word
582,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2018-08-10,JOHN SMITH HELLO BGC,3000,True,JOHN
522,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2018-11-29,JOHN SMITH MINIGOLF BBP,1400,False,JOHN
517,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-01-21,JOHN SMITH PART DEPOSIT BBP,100000,False,JOHN
497,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-02-04,JOHN SMITH PART DEPOSIT BBP,224858,False,JOHN
496,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-02-04,JOHN SMITH DAVID AIRBNB BBP,6700,False,JOHN
454,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-02-27,JOHN SMITH RENT ETC STO,70236,False,JOHN
384,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-03-27,JOHN SMITH RENT ETC STO,70236,False,JOHN
318,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-04-24,JOHN SMITH RENT ETC STO,70236,False,JOHN
305,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-04-28,JOHN LEWIS ON 27 APR BCC,9430,False,JOHN
299,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-04-29,JOHN LEWIS ON 28 APR BCC,23005,False,JOHN
234,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-05-22,JOHN SMITH RENT ETC STO,70236,False,JOHN
111,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-06-28,JOHN SMITH RENT ETC STO,70236,False,JOHN
35,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-07-19,JOHN LEWIS ON 18 JUL CLP,1505,False,JOHN
686,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-07-29,JOHN SMITH RENT ETC STO,70236,False,JOHN
986,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-08-28,JOHN SMITH RENT ETC STO,70236,False,JOHN

If our assumption to group transactions by having same first word was updated to include the second and third words, we would have to be careful to still group transactions such as the "Spotify" transactons below.

A suggestion could be to investigate the occurances of given strings, such as "JOHN" occuring often, and "JOHN SMITH" occuring often. Where similarly "Spotify" occurs often, differently "Spotify P06EAA1A46" would only occur once, making it an unlikely candidate name for a group.

In [25]:
transactions = preprocessing(path_to_data)
transactions = parse_original_description(transactions)

transactions[transactions['original_description_first_word'] == 'Spotify']

,user_id,made_on,original_description,amount_cents,income,original_description_first_word
586,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2018-08-06,Spotify P06EAA1A46 ON 05 AUG BCC,999,False,Spotify
889,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-06-05,Spotify P08VAZ2H51 ON 04 JUN CLP,999,False,Spotify
909,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-07-05,Spotify P07YAB3H83 ON 04 JUL CLP,999,False,Spotify
1016,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-08-04,Spotify UK ON 03 AUG BCC,999,False,Spotify
1097,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-09-04,Spotify P0D97DK26E ON 03 SEP BCC,999,False,Spotify
1208,9d556712-ff2e-2f9c-73a9-5hf3cce9e389,2019-10-05,Spotify P0D97JL34E ON 04 OCT BCC,999,False,Spotify

## Conclusion & Next Steps <a name="nextsteps"></a>

I used a rule based model here because its easily interpretable, explainable and our assumptions known. The problem with this model is that you have to write rules and assumptions to explain how a human would classify and process the data, which may not be explicitly writable in rules. With this approach the programmer has to think very hard about all the different assumptions and rules they're making. I found lots of problems or special cases to address, on further iterations this could improve a lot, but maybe theres a better way.

The next steps could be to use more complex approaches, which may yield better results. Using a machine learning based model, potentially using natural language processing model to classify whether a subscription, or salary or a friday McDonalds - could work better. To do so would mean creating target features for a training data set which could be done if given more time, and would be a potential next step in builiding a better model.